<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaomi.infrastructure.persistent.dao.EmployeeDao">

    <resultMap id="BaseResultMap" type="com.xiaomi.infrastructure.persistent.po.Employee">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="TINYINT"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="birth_date" property="birthDate" jdbcType="DATE"/>
        <result column="hire_date" property="hireDate" jdbcType="DATE"/>
        <result column="manager_id" property="managerId" jdbcType="BIGINT"/>
        <result column="position" property="position" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP"/>
    </resultMap>



    <insert id="insert" parameterType="com.xiaomi.infrastructure.persistent.po.Employee">
        INSERT INTO employee
        (name, gender, phone, email, birth_date, hire_date,
         manager_id, position, status, gmt_created, gmt_modify)
        VALUES
            (#{name}, #{gender}, #{phone}, #{email}, #{birthDate}, #{hireDate},
             #{managerId}, #{position}, #{status}, #{gmtCreated}, #{gmtModify})
    </insert>

    <update id="update" parameterType="com.xiaomi.infrastructure.persistent.po.Employee">
        UPDATE employee
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="birthDate != null">birth_date = #{birthDate},</if>
            <if test="hireDate != null">hire_date = #{hireDate},</if>
            <if test="managerId != null">manager_id = #{managerId},</if>
            <if test="position != null">position = #{position},</if>
            <if test="status != null">status = #{status},</if>
            gmt_modify = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM employee WHERE id = #{id}
    </delete>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT name,gender,phone,email,birth_date,hire_date,manager_id，position，status
        FROM employee
        WHERE id = #{id}
    </select>

</mapper>